@import url("https://fonts.googleapis.com/css?family=Noto+Sans+Thai:300,400,400i,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 
  body {
    background-color: #eef9ff;
    font-size: 18px;
    font-family: "Noto Sans Thai", sans-serif;
  }
}
